//<Подключаем шрифты>=============================================
/* <ПРИМЕР>
@font-face {
   font-family: 'UniversCE';
   src: url('../fonts/Univers CE 45 Light.eot');
   src: local('☺'), url('../fonts/Univers CE 45 Light.woff') format('woff'), url('../fonts/Univers CE 45 Light.ttf') format('truetype'), url('../fonts/Univers CE 45 Light.svg') format('svg');
   font-weight: 300;
   font-style: normal;
}
*/
//VScode -> Ctrl+Shift+P -> Google Fonts -> @import
@import url(https://fonts.googleapis.com/css?family=Oswald:regular,700);
//</Подключаем шрифты>================

//<Иконочные шрифты>==============================================
//</Иконочные шрифты>=============================================

//<Шрифт по умолчанию>============================================
$fontfamily: "Arial";
//</Шрифт по умолчанию>===========================================

//<ПЕРЕМЕННЫЕ>====================================================
$minwidth: 320px;
$mw: 1220 + 40; //40 - padding with two sides
$md1: $mw;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>====================================
@import "null.scss";
body {
	font-size: 14px;
	color: #444444;
	text-transform: uppercase;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===================================

//<ОБОЛОЧКА>======================================================
.wrapper {
	width: 1440px;
	margin: 0 auto;
}
//</ОБОЛОЧКА>=====================================================

//<ОСНОВНАЯ СЕТКА>================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 20px;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===============================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>==========
// @import "forms.scss";
// @import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>=========

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=================
@import "common.scss";
@import "header.scss";
@import "main.scss";
@import "programs.scss";
// @import "footer.scss";
// @import "popup.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>================

//<ОСНОВНОЙ БЛОК>=================================================



//</ОСНОВНОЙ БЛОК>================================================