.wrapper
    .container
        header.header
            .header__logo-wrap
                a(href="#").header__logo
                    img(src="img/main/logo-mobile.png", alt="logo1-mobile") 
                a(href="#").header__logo2
                    img(src="img/main/logo2.png", alt="logo2")
            nav.header__menu
                ul.header__menu-list
                    li
                        a(href="#").header__menu-link.header__menu-link--active Главная
                    li
                        a(href="#").header__menu-link Каталог продукции
                    li
                        a(href="#").header__menu-link Подбор программы   
            //- .header__menu-icon
            //-     span
            //-     span
            //-     span
