.wrapper.wrapper--main
    block header    
        include header
    
    .container
        .main-screen
            .main-screen__body.main-screen__body--large
                .main-screen__title.title Функциональное питание для котов
                .main-screen__subtitle.tinytitle Занялся собой? Займись котом!
                a(href="#").main-screen__btn.btn Подобрать программу
            .main-screen__img   
                img(src="img/main/index-can.png", alt="Cat Energy Can")