.wrapper
    .container
        .programs
            .programs__items
                .programs__item
                    .programs__header
                        .programs__img
                            img(src="img/programs/cat_back.png", alt="cat")
                        .programs__title.subtitle похуДение
                    .programs__text Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.
                    a(href="#").programs__link Каталог Slim
                .programs__item
                    .programs__header
                        .programs__img
                            img(src="img/programs/tiger_back.png", alt="tiger")
                        .programs__title.subtitle набор массы
                    .programs__text Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!
                    a(href="#").programs__link Каталог Pro
        
